// Edit profile button, toot button, etc
// Not sure why this doesn't respect the ui color set but oh well
.button.logo-button {
  background: $deeper-purple;
}

.column-link {
  color: $deeper-purple;
}

.column-link i {
  color: $white;
}

.column-link:hover {
  color: $pink;
  transform: scale(1.015);
  transition: all 0.15s ease-in-out;
}

a.column-link.active {
  color: $white!important; // Don't change colors with hover
}
.column-link.active i {
  color: $deeper-purple;
}

.button {
  background-color: $deeper-purple;
  color: $white;
}

button.btn,
button.btn.button,
.block-button,
.simple_form .block-button:last-child,
.simple_form button,
.simple_form .button,
.dashboard__quick-access,
.admin-wrapper .content__heading__tabs a.selected {
  background-color: $deeper-purple;
}

.button.negative {
  background-color: $red;
}

.dashboard__quick-access:hover,
.simple_form button:hover,
.simple_form .button:hover,
.simple_form .block-button:last-child:hover {
  background-color: $even-deeper-purple;
}

.button:hover,
.button.logo-button:hover {
  transform: scale(0.95);
  transition: all 0.15s ease-in-out;
  background-color: $deeper-purple;
  color: $white;
}

.star-icon.icon-button.active {
  color: $pink;
}

i.fa.fa-retweet.fa-fw {
  color: $purple;
}

.icon-button.active i.fa-retweet {
  color: $purple !important;
}

button.column-header {
  color: $white;
}
.button.button-tertiary {
  background-color: $deeper-purple;
  color: $white;
  border: none;
}
.button.button-tertiary:hover {
  background-color: $deeper-purple;
}
// for some reason this isnt the same text color as everything else? ugh
.dismissable-banner__message h1 {
  color: $white;
}
// new search bar and toot button colors
.button.button-secondary {
  color: $white;
}
.button.button-secondary:hover {
  background-color: transparent;
  border-color: $white;
}
.autosuggest-textarea textarea::placeholder {
  color: rgb(0, 0, 0) !important;
}

.column-header__back-button,
.column-back-button {
  color: $white;
}

.compose-form .autosuggest-textarea__textarea,
.compose-form .spoiler-input__input,
.compose-form .compose-form__modifiers .compose-form__uploads-wrapper,
.emoji-mart-search,
.emoji-mart-scroll,
.emoji-mart-category-label span,
.emoji-mart-bar, .emoji-picker-dropdown__menu {
  background-color: $compose-panel !important;
}

.emoji-mart-search input {
  border: 1px solid $even-deeper-purple;
}

.emoji-mart-search-icon svg {
  fill: $deeper-purple;
  opacity: 0.75 !important;
}

.reply-indicator__content a {
  color: $basically-black;
}

.emoji-mart-anchor {
  color: $basically-black;
}

.emoji-mart-anchor-selected {
  color: $purple;
}

.compose-form .compose-form__buttons-wrapper {
  background-color: #b987d8;
  color: $white;
}

.search-popout,
.search-popout h4 {
  color: $black-but-not-too-black !important;
}

.admin-wrapper .sidebar ul .simple-navigation-active-leaf a {
  background-color: $deeper-purple;
}

.admin-wrapper .sidebar ul .simple-navigation-active-leaf a:hover {
  background-color: $even-deeper-purple;
  background: $even-deeper-purple;
}

.filters .filter-subset a.selected {
  color: $deeper-purple;
  border-bottom: 2px solid $purple;
}

.muted-hint a {
  color: $even-deeper-purple !important;
}

#tabs-bar__portal > div > h1 > button {
  color: $white;
}

// This is hard to read
#mastodon
  > div
  > div
  > div.columns-area__panels
  > div.columns-area__panels__main
  > div.columns-area.columns-area--mobile
  > div
  > div
  > div
  > div
  > div:nth-child(1)
  > div
  > div.detailed-status__meta,
#tabs-bar__portal > button > span {
  color: $brightgray;
}

#mastodon
  > div
  > div
  > div.columns-area__panels
  > div.columns-area__panels__main
  > div.columns-area.columns-area--mobile
  > div
  > div
  > div
  > div
  > div:nth-child(1)
  > div
  > div.detailed-status__meta
  > a:nth-child(5)
  > i {
  color: $pink;
}

#mastodon
  > div
  > div
  > div.columns-area__panels
  > div.columns-area__panels__main
  > div.columns-area.columns-area--mobile
  > div
  > div
  > div
  > div
  > div:nth-child(1)
  > div
  > div.detailed-status__meta
  > a:nth-child(4)
  > i {
  color: $purple;
}

#mastodon
  > div
  > div
  > div.columns-area__panels
  > div.columns-area__panels__main
  > div.columns-area.columns-area--mobile
  > div
  > form
  > button {
  background-color: $deeper-purple;
}

// don't let preferences grow
#mastodon
  > div
  > div
  > div.columns-area__panels
  > div.columns-area__panels__pane.columns-area__panels__pane--start.columns-area__panels__pane--navigational
  > div
  > div
  > a:nth-child(12) {
  transform: none;
}

// changes the color of the toggles to be more clear
.react-toggle.react-toggle--checked .react-toggle-track, .radio-button__input.checked {
  background-color: $deeper-purple;
  border-color: $white;
}
.react-toggle-track {
  background-color: $pinkurple;
}

// change the lightend gray color to a more readable white in settings/tabulated menus
.column-header__collapsible span {
  color: $white
}
// This onboarding link style is weirdly different than all the others?
a.onboarding__link {
  color: $white;
}
// Fix this spacer from making the trends page go all nutso when the nav buttons move all over
.navigation-panel .flex-spacer {
  flex: none;
  height: 20px; // this seems good for all screen sizes tbh
}
// This is hard to see
.search__popout__menu__message, .search__popout h4 {
  color: $white;
}
// Progress tracker on signup
.progress-tracker .completed .circle {
  background: $deeper-purple;
  border-color: $white;
}
.progress-tracker .active .circle {
  border-color: $white;
}
.progress-tracker .circle {
  border-color: $white;
}
.progress-tracker .active .circle::before {
  background: $white;
}
.progress-tracker .separator.completed {
  background: $deeper-purple;
}
.progress-tracker .separator {
  background: $white;
}
// why is it so hard to read lmao
.empty-column-indicator span {
  color: darken(white, 6%);
}
strong.navigation-bar__profile-account {
  color: darken(white, 8%);
}
div.content__heading__row h2 {
  color: darken(white, 8%) !important;
}
.status__relative-time {
  color: darken(white, 8%)
}
span.display-name {
  color: rgba(255, 255, 255, 0.582)
}
button.load-more {
  color: rgba(255, 255, 255, 0.322)
}
.emoji-mart-anchor-selected {
  color: $deeper-purple;
}
.compose-form__buttons div .icon-button, .compose-form__buttons, .compose-form__buttons .text-icon-button,  .compose-form__buttons .icon-button, .compose-form__highlightable span {
  color: white
}
.language-dropdown__dropdown__results.emoji-mart-scroll {
  background-color: $even-deeper-purple !important;
  color: white !important;
}
div.language-dropdown__dropdown__results__item {
  background-color: $even-deeper-purple !important;
}
div.language-dropdown__dropdown__results__item:hover {
  background-color: lighten($even-deeper-purple, 10%) !important;
}
// success box is hard to read in light green
.flash-message {
  background-color: $even-deeper-purple !important;
  color: $white !important;
  border: 2px solid white !important;
}
// fixes the "common" language naming being unreadable
div.language-dropdown__dropdown__results__item > span:nth-child(2) {
  color: darken(white, 4%) !important;
}
// Reply Box
.reply-indicator {
  background-color: darken($even-deeper-purple, 6%);
  border: 2px solid $white;
  color: $white !important;
}
.reply-indicator__header {
  color: $white !important;
}
.reply-indicator__content {
  color: $white !important;
}
.reply-indicator__cancel .fa {
  color: $white !important;
}
// post open icons box
.detailed-status__action-bar {
  background-color: $even-deeper-purple;
  border-top: 2px solid $white;
  border-bottom: 2px solid $white;
}
// post open icons box icons
.detailed-status__action-bar .icon-button {
  background-color: darken($pinkurple, 10%) !important;
}
// hashtags
a.mention, a.u-url.hashtag.status-link a.u-url.hashtag {
  color: $hashtags
}
.reply-indicator__content a.mention {
  color: $basically-black;
}